.Weather {
  color: rgb(100, 100, 107);
  border: 1px solid pink;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  background: #92a4c0;
}

.Weather h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 29px;
  margin: 30px 0 30px 0;
  font-weight: bold;
  color: #1b335f;
}
.Weather hr {
  color: palevioletred;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  list-style: none;
}

.Weather ul {
  margin-top: 30px;
  padding: 20px;

  border-radius: 5px;
  background-color: #fcd4da;
}

.Weather .temp {
  font-weight: bold;
  color: #1b335f;
  font-size: 80px;
  line-height: 64px;
  font-weight: 400;
}

.Weather convas {
  margin: 10px auto;
  color: #1b335f;
}

.Weather .unite {
  color: rgb(33, 33, 33);
  font-size: 17px;
  font-weight: 400;
  position: relative;
  top: -25px;
}

.float-left {
  float: left;
}
