.Weather {
  color: rgb(100, 100, 107);
  border: 1px solid pink;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .temp {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 60px;
  font-weight: 400;
}

.Weather canvas {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
  width: 64px;
}

.Weather .unite {
  color: rgb(33, 33, 33);
  font-size: 26px;
  font-weight: 400;
  position: relative;
  top: -25px;
  margin-left: 5px;
}
